@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';
@mixin pos($left, $top) {
    left: $left;
    position: absolute;
    top: $top;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: -1;
}
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-family: 'Nunito', Helvetica, sans-serif;
    font-size: 62.5%;
}
body {
    color: #fff;
}
.button {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid transparent;
    color: inherit;
    font-family: 'Nunito';
    font-size: 2.3rem;
    margin-top: 15px;
    outline: none;
    padding: 10px 1%;
    text-align: center;
    transition: border-bottom-color 0.3s ease-in-out;
}
.button:hover {
    cursor: crosshair;
    border-bottom: 2px solid currentColor;
}
.colors {
    margin-top: 5%;
}
.content {
    @include pos(50%, 30%);
    text-align: center;
    transform: translate(-50%,-30%);
    z-index: -1;
    h1 {
        font-size: 7.2rem;
    }
    p {
        font-size: 3.6rem;
    }
}
.hit-box {
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    z-index: -1;
}
.scss {
    display: none;
    text-align: center;
    p {
        font-size: 2.7rem;
    }
}
#var {
    @include pos(50%, 60%);
    transform: translate(-50%,-60%);
    z-index: 1;
}
.variable {
    margin-top: 25px;
}
